# Disable include-cleaner checks, as Chromium doesn't enforce them and they
# just create noise when working with clangd.
Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
Index:
  Background: Skip
CompileFlags:
  Add: ["/std:c++20", "-Wno-msvc-not-found", "-I../..", "-I../../include"]
  Remove: ["/Zi", "/Od"]
If:
  PathExclude: [third_party/.*, out/.*, testing/.*]
